SHADOW_DATABASE_URL=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}/shadow_db
DIRECT_URL=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}/${PGDATABASE}?connect_timeout=10
DATABASE_URL=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}/${PGDATABASE}?pgbouncer=true&connect_timeout=10

PGHOST=   #fill these by setup a postgres database  
PGPASSWORD=   
PGUSER=   
PGDATABASE=   
